
.timeline{
    padding: 50px 0;
    .sectionTitleBlack{
        margin-bottom: 50px;
    }
    .timelineItems{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        width: 100%;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            border: 1px dashed #fff500;
            // background-color: #fff;
            @media screen and (max-width: 991px){
                width: 2px;
                height: 100%;
                left: calc(50% - 1px);
            }
            @media screen and (max-width: 614px){
                left: 7px
            }
        }
        .timelineItem{
            width: 20%;
            position: relative;
            transition: all 0.5s ease;
            cursor: pointer;
            @media screen and (max-width: 991px){

                margin-bottom: 40px;
                width: 100%;
            }
            &:hover{
                .timelineDot{
                    height: 20px;
                    width: 20px;
                }
                .timelineTitle{
                    .title{
                        color: #fff500;
                    }
                }
            }
            @media screen and (max-width: 991px){
                &:nth-child(odd){
                    padding-right: calc(50% + 30px);
                    text-align: right;
                }
                &:nth-child(even){
                    padding-left: calc(50% + 30px);
                }
            }
            @media screen and (max-width: 614px){
                &:nth-child(odd){
                    padding-right: 0;
                    text-align: left;
                }
                &:nth-child(odd),
                &:nth-child(even){
                    padding-left: 37px;
                }
            }
            .timelineDot{
                height: 16px;
                width: 16px;
                background-color: #fff500;
                position: absolute;
                left: -2px;
                top: -8px;
                border-radius: 50%;
                transition: all 0.5s ease;
                @media screen and (max-width: 991px){
                    left: calc(50% - 8px);
                    top: 10px;
                }
                @media screen and (max-width: 614px){
                    left: 0;
                }
            }
            .timelineTitle{
                .title{
                    font-size: 24px;
                    font-weight: 500;
                    color: #fff500;
                    margin: 30px 0 9px;
                    transition: all 0.5s ease;
                    @media screen and (max-width: 1150px){
                        font-size: 18px;
                    }
                }
            }
            .timelineText{
                border-radius: 5px;
                .text{
                    margin: 0;
                    font-size: 16px;
                    font-weight: 400;
                    @media screen and (max-width: 1150px){
                        font-size: 12px;
                    }
                }
            }
        }
    }
}